<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>

<div class="content">
    <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <a href="http://www.spotify.com">
                            <img src="img/spotify.png" class="img-responsive" alt="...">
                            <div class="caption">
                                <p>Spotify</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <a href="http://www.flytoget.no">
                            <img src="img/passasje.png" class="img-responsive" alt="...">
                            <div class="caption">
                                <p>Passasje</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <a href="http://www.bbc.co.uk">
                            <img src="img/bbc.png" class="img-responsive" alt="...">
                            <div class="caption">
                                <p>BBC News</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.spotify.com">
                        <img src="img/spotify.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Spotify</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.flytoget.no">
                        <img src="img/passasje.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Passasje</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.bbc.co.uk">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>BBC News</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
