<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="spotify:user:silverprince:playlist:6hx1LhYAwoFOIxquFu2flM">
                        <img src="img/spotify.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Spotify</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://flytoget.cosytech.net/resources/Passasje_september_2014.pdf">
                        <img src="img/passasje.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Passasje</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://flytoget.cosytech.net/resources/hoc720.mp4">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>House of Cards</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.bbc.co.uk">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>BBC News</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://news.sky.com/">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Sky News</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.nytimes.com/">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>New York Times</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.tv2.no/nyheter/">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>TV2 Nyheter</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.breakingnews.com/">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>Breaking News</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <a href="http://www.cnn.com/">
                        <img src="img/bbc.png" class="img-responsive" alt="...">
                        <div class="caption">
                            <p>CNN</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
