<!--
ng-view directive updates the current element with the new
data/template that comes from router, so you can make a generic
layout and use ng-view, and if you still have a repetitive code;
use ng-include.

-->

<header ng-controller="headerSmallCtrl" class="container-fluid header-sm">
    <div class="header-sm-text">
        <a href="/">
            <div class="backArrow">
                <span><i class="fa fa-chevron-left pull-left"></i></span>
            </div>
        </a>
        <div class="heading">
            <h1>{{name}}</h1>
        </div>
        <div class="empty"></div>
    </div>
</header>