<div ng-controller="MenuItemsCtrl" class="">
    <div class="menuWrapper">

        <header class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <h3 class="nabar-brand">
                    Hi and welcome aboard
                </h3>
                <div class="weather">
                    <p><i class="fa fa-cloud"></i>Weather information here...</p>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="mainmenu text-center">

                        <form ng-show="$root.currentUser" class="hide-xs">
                            <label for="">Name</label>
                            <input ng-model="newApp.name"/>
                            <label for="">Description</label>
                            <input ng-model="newApp.description"/>
                            <button ng-click="newApp.owner=$root.currentUser._id; applications.save(newApp); newApp='';" >Add</button>
                        </form>

                        <ul>
                            <li ng-repeat="app in applications">
                                <a href="/{{app._id}}">
                                    <div class="round-box">
                                        <div class="menu-icon">
                                            <i class="pull-left fa fa-plane"></i>
                                        </div>
                                        <div class="menu-text">
                                            {{app.name}}
                                        </div>
                                        <div class="menu-empty"></div>
                                    </div>
                                </a>
                                <button ng-show="$root.currentUser" ng-click="remove(app)">Delete</button>
                            </li>
                        </ul>
                        <p>Number of applicaitons {{ applications.length}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>