<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>
<div class="menuWrapper">
</div>
<div class="content">

    <form ng-show="$root.currentUser" class="form-addApp">
        <h3 class="text-center">Add app:</h3>
        <label for="">Name</label>
        <input ng-model="newApp.name"/>
        <button ng-click="newApp.owner=$root.currentUser._id; applications.save(newApp); newApp='';" ><i class="fa fa-plus-circle"></i></button>
    </form>

    <div ng-hide="$root.currentUser" class="emptyHack" style="height: 80px"></div>

    <ul>
<!--        <li>
            <div class="round-box">
                <div class="menu-icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <a ui-sref="news">
                    <div class="menu-text"></div>News
                </a>
                <div class="menu-empty"></div>
            </div>
        </li>
-->
        <li ng-repeat="app in applications">
            <!--<a ui-sref="appDetails({appId: app._id})">-->
            <div class="round-box">
                <div class="menu-icon">
                    <i class="pull-left fa fa-plane"></i>
                </div>
                <a ui-sref="appDetails({slug: app.slug})">
                    <div class="menu-text">
                        {{app.name}}
                    </div>
                </a>
                <div class="menu-empty">
                    <button ng-show="$root.currentUser" ng-click="remove(app)"><i class="fa fa-minus-circle"></i></button>
                </div>
            </div>
            <!--</a>-->
        </li>
    </ul>
    <p class="text-center">Number of applicaitons {{ applications.length}} </p>
</div>
