<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>

<div class="container-fluid">
    <div class="menuWrapper">
        <div class="filter"></div>
    </div>
    <div class="content">

        <form ng-show="$root.currentUser" class="form-addApp">
            <h3 class="text-center">Add app:</h3>
            <label for="">Name</label>
            <input ng-model="newApp.name"/>
            <button ng-click="newApp.owner=$root.currentUser._id; applications.save(newApp); newApp='';" ><i class="fa fa-plus-circle"></i></button>
        </form>

        <div ng-hide="$root.currentUser" class="emptyHack" style="height: 80px"></div>

        <ul>
            <!--<li>
                <div class="round-box">
                    <div class="menu-icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <a ui-sref="news">
                        <div class="menu-text"></div>News
                    </a>
                    <div class="menu-empty"></div>
                </div>
            </li>-->
            <li ng-repeat="app in applications">
                <!--<a ui-sref="appDetails({appId: app._id})">-->
                <a ui-sref="appDetails({slug: app.slug})">
                    <div class="round-box">
                        <div class="menu-icon">
                            <div ng-if="app.name == 'Flight' ">
                                <img src="/img/menu_plane.png" class="menu_image img-responsive"/>
                            </div>
                            <div ng-if="app.name == 'Entertainment' ">
                                <img src="/img/menu_entertainment.png" class="menu_image img-responsive"/>
                            </div>
                            <div ng-if="app.name == 'Breaking' ">
                                <img src="/img/menu_breaking.png" class="menu_image img-responsive"/>
                            </div>
                            <div ng-if="app.name == 'Useful Info' ">
                                <img src="/img/menu_practical.png" class="menu_image img-responsive"/>
                            </div>
                            <div ng-if="!app.builtIn">
                                <img src="/img/menu_practical.png" class="menu_image img-responsive"/>
                            </div>
                            <!-- <i class="pull-left fa fa-plane"></i> -->
                        </div>
                        <div class="menu-text">
                            {{app.name}}
                        </div>
                        <div class="menu-empty">
                            <button ng-show="$root.currentUser" ng-click="remove(app)"><i class="fa fa-minus-circle"></i></button>
                        </div>
                    </div>
                </a>

            </li>

        </ul>
        <div class="row">
            <div class="bottom-logo">
                <div id="trickle-logo">
                    <img src="/img/trickle_logo.png" onclick="toggleFullScreen();"/>
                </div>
            </div>
        </div>

    </div>
</div>