<ng-include src="'client/flytoget/views/header-small.ng.html'"> </ng-include>

<div class="content">

    <div ng-repeat="entry in newsEntries | orderBy: '-date'">
        <hr>
        <article class="article" >
            <div class="meta orange">{{entry.date | date:'H:mm, MM/dd/yyyy'}}</div>
            <div class="article-text">
                <a href="{{entry.link}}">
                    <p>{{entry.summary}}</p>
                </a>
            </div>
        </article>
    </div>

</div>
