<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>

<div class="content">

    <div class='webcam-wrapper'>
        <img src="{{webcamFeed}}" alt="Webcam feed Gardermoen" class="camfeed">
        <div class='webcam-description'>
            <span class='webcam-description-content'>LIVE <span class="circle"></span></span>
        </div>
    </div>


    <div class="queue-info">
        <i class="fa fa-compass fa-2x"></i>
        <span class="waiting-info">Waiting:</span><br>
        <span class="waiting-info">Less than {{queueTime}} minutes.</span>
    </div>

    <!--<div class="gallery js-flickity">-->
        <!--<div class="gallery-cell">-->
            <!--<h3>GETTING TO THE CITY OF OSLO</h3>-->
            <!--<p>-->
                <!--EXCELLENT PUBLIC TRANSPORTATION PROVIDES EASY, CONVENIENT AND QUICK TRAVEL FROM THE AIRPORT TO DOWNTOWN OSLO, A 29 MILE TRIP.-->
                <!--THE AIRPORT EXPRESS TRAIN (FLYTOGET) IS THE FASTEST AND MOST FREQUENT CONNECTION.-->
                <!--THE AIRPORT EXPRESS TRAIN, DEPARTING EVERY 10 MINUTES, WILL TAKE YOU TO OSLO CENTRAL STATION IN 19 MINUTES.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="gallery-cell"></div>-->
        <!--<div class="gallery-cell"></div>-->
    <!--</div>-->
</div>
