<ng-include src="'client/flytoget/views/header.ng.html'"> </ng-include>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" media="screen">
<script src="http://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.min.js"></script>
<script>

    $(window).load(function() {
        $('.gallery').flickity({
            // options
            prevNextButtons: false,
            cellAlign: 'center',
            contain: true
        });
    });

</script>

<div class="content">

    <div class="image-wrapper">
        <img src="{{webcamFeed}}" alt="Webcam feed Gardermoen" class="camfeed">
        <p><span class='webcam-description-content'>LIVE <span class="circle"></span></span></p>
    </div>


    <div class="queue-info">
        <i class="fa fa-compass fa-2x"></i>
        <span class="waiting-info">Waiting:</span><br>
        <span class="waiting-info">Less than {{queueTime}} minutes.</span>
    </div>

    <div class="gallery">
        <div class="gallery-cell">
            <h3>GETTING TO THE CITY OF OSLO</h3>
            <p>
                EXCELLENT PUBLIC TRANSPORTATION PROVIDES EASY, CONVENIENT AND QUICK TRAVEL FROM THE AIRPORT TO DOWNTOWN OSLO, A 29 MILE TRIP.
                THE AIRPORT EXPRESS TRAIN (FLYTOGET) IS THE FASTEST AND MOST FREQUENT CONNECTION.
                THE AIRPORT EXPRESS TRAIN, DEPARTING EVERY 10 MINUTES, WILL TAKE YOU TO OSLO CENTRAL STATION IN 19 MINUTES.
            </p>
        </div>
        <div class="gallery-cell">
            <!--<h3>CONTACT</h3>-->
            <!--<h4>PHONE</h4>-->
            <!--<address>815 00 777</address>-->
            <!--<h4>MAIL</h4>-->
            <!--<address>FLYTOGET@FLYTOGET.NO</address>-->

            <h3>CONTACT</h3>
            <p>
                THIS SHIT IS NOT WORKING THE WAY I INTENDED. NEED TO SET WIDTH, BRB LOL LAL!!!
                THE AIRPORT EXPRESS TRAIN (FLYTOGET) IS THE FASTEST AND MOST FREQUENT CONNECTION.
                THE AIRPORT EXPRESS TRAIN, DEPARTING EVERY 10 MINUTES, WILL TAKE YOU TO OSLO CENTRAL STATION IN 19 MINUTES.
            </p>
        </div>
        <div class="gallery-cell">
            <h3>OMG WORKS LOL</h3>
        </div>
    </div>
</div>
