<ng-include src="'client/flytoget/views/header-small.ng.html'"> </ng-include>

<link rel="stylesheet" href="flickity.css" media="screen">
<script src="flickity.js"></script>
<script>

    $(document).ready(function() {
       $(".content").hide();
    });

    $(window).load(function() {
        $(".content").show();
        $('.gallery').flickity({
            // options
            prevNextButtons: false,
            cellAlign: 'center',
            contain: true
        });
    });

</script>

<div class="content">

    <div class="image-wrapper">
        <img ng-src="{{webcamFeed}}" alt="Webcam feed Gardermoen" class="camfeed">
    </div>


    <div class="queue-info">
        <i class="fa fa-compass fa-2x"></i>
        <span class="waiting-info">Waiting:</span><br>
        <span class="waiting-info">Less than {{queueTime}} minutes.</span>
    </div>

    <div class="row">
        <div class="gallery">
            <div class="gallery-cell">
                <h3>GETTING TO THE CITY OF OSLO</h3>
                <p>
                    EXCELLENT PUBLIC TRANSPORTATION PROVIDES EASY, CONVENIENT AND QUICK TRAVEL FROM THE AIRPORT TO DOWNTOWN OSLO, A 29 MILE TRIP.
                    THE AIRPORT EXPRESS TRAIN (FLYTOGET) IS THE FASTEST AND MOST FREQUENT CONNECTION.
                    THE AIRPORT EXPRESS TRAIN, DEPARTING EVERY 10 MINUTES, WILL TAKE YOU TO OSLO CENTRAL STATION IN 19 MINUTES.
                </p>
            </div>
            <div class="gallery-cell">
                <h3>Press</h3>
                <p style="text-align: center">
                    Ingen ting å melde, Flytoget kjøres som normalt.
                </p>
            </div>
            <div class="gallery-cell">
                <h3>CONTACT</h3>

                <h4>PHONE</h4>
                <address><a href="tel:4781500777">815 00 777</a></address>

                <h4>MAIL</h4>
                <address><a href="mailto:flytoget@flytoget.no">FLYTOGET@FLYTOGET.NO</a></address>

            </div>
        </div>
    </div>
</div>