@import "colors";
@import "profile";

@navbar-height: 100px;
@box-inset: 30px;
@row-height: 300px;
@row-height-sm: 230px;

body, html {
  width: 100%;
  height: 100%;

}


body {
  font-family: "Lato",sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  background-color: @cosy-grey-lter;

  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}

#flightSection{
  margin-top: -15px;
  height: 8vh;
  background-color: @cosy-orange-dk;
}

.flightInfo{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 20px;
  justify-content: space-around;

  font-size: 4vw;

  color: white;

  text-align: center;
  line-height: 1.2em;
}

.icon{
  width: 60px;
  height: 60px;
}

.acent{
  .icon;
}
.decent{
  .icon;
}

.hero h1{
  font-weight: 600;
  color: white;
  text-transform: none;
  font-size: 6vw;
  margin-left: -10vw;
}

.hero h3{
  text-transform: none;
  font-weight: 500;
  color: white;
}

.small-icon {
  width: 40px;
  height: 40px;
}



.searchbar{
  font-size: 5vw;
  margin-bottom: 1vh;
}

.separator{
  height: 4vh;
  width: 1px;
  border-left: solid 1px @cosy-orange-dker;
}

ul{
  list-style-type: none;
}

.center{
  display: flex;
  border-bottom: solid 1px @cosy-blue;
}

.center input{
  width: 100%;
  border-bottom: none;
  font-style: italic;
  color: @cosy-grey-dker;
}

.center label{
  color: @cosy-orange;
  margin-right: 20px;
}

.paginationControls{
  background-color: #f16949;
  margin: 0 auto;
  float: none;
}

.flightList{
}

.flight-list-item{
  //.underline(@cosy-grey-lt);
}

.hero{
  background: url("/img/plane2.jpg") no-repeat center center;
  background-size: cover;
  z-index: -43;
  margin-top: -10vh;
  height: 30vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.hero-text{
  margin-top: 6vh;
  text-align: start;
}



.shadow{
  text-shadow: 0px 0px 21px rgba(150, 150, 150, 0.94);
}

.thin{
  font-weight: 200;
}

.block{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.block img{
  float: left;
  margin-right: 5vw;
  margin-top: 10px;
}

.header{
  background: url("/img/bg_top.png") no-repeat center center;
  //background-color: transparent;
  color: white;
  background-size: cover;

  width: 100%;

  text-align: center;

  -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
}

.article{
  color: @cosy-grey-dker;
}

.article p{
  text-transform: none;
  color: #282828;
  font-size: 5vw;
}

.meta{
  font-size: 3.5vw;
}


.header-lg {
  .header;
  height: 15vh;
}

.header-sm {
  .header;
  text-align: center;
  color: @white;
  height: 10vh;

  -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);

  h1{
    color: white;
    text-transform: capitalize;
    font-size: 6vw;
  }

}

.backArrow{
  align-self: baseline;
  padding-top: 2vh;
  padding-right: 6vw;
  padding-bottom: 4vh;
  height: 4vh;

  a{
    font-size: 4.5vw;
  }
}

.heading{
  margin-left: -10vw;
  align-self: baseline;
}

.header-sm-text{
  margin-top: 2vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.empty{
}

.header-wrapper{
  width: 80%;
  height: 100%;
  margin: 0 auto;

  margin-top: 1.2vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.greeting{
  order: 1;
  font-size: 2vmax;
  text-align: center;

  //background-color: #f16949;
}

.weather {
  order: 2;

  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  //background-color: #399fbd;
}

#weather-text{
  order:2;
  font-size: 1.8vmax;

  margin-left: 4vw;
  margin-right: 4vw;

}

.icon-small{
  width: 6vmax;
}


#weather-text-dark {
  color: #f8cb9f;
}
#weather-deg{
  font-size: 4.5vmax;
  order:3;
}
#celsius {
  font-size: 4vw;
}


h1{
  color: black;
}

.content{
  margin-top: 2vh;
  //background-color: #f16949;
}


.form-addApp{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  height: auto;
  color: white;
  font-weight: 400;

}


.form-addApp button{
  border: none;
  background-color: transparent;

  font-size: 30px;
}

.form-addApp input[type="text"]{
}

a, a:hover{
  text-decoration: none;
  color: inherit;
}

.thumbnail img{
  width: 15vw;
  margin-bottom: 1vh;
}

.thumbnail{
  text-align: center;
  border-style: none;
  //background-color: #399fbd;
  font-size: 3vw;
  font-weight: 300;
  line-height: 4vw;
}

.filter{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
}

.menuWrapper{
  background: url("img/bg.jpg") no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  width: 100%;
  z-index: -100;
  margin-left: -15px;
  top: 0;
  bottom: 0;
}

.menu_image {
  width: 10.5vw;
  height: 10.5vw;
}

.bottom-logo{
  margin-top: 10vh;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
}

#trickle-logo img{
  width: 100%;
}


input{
  background-color: transparent;
  border: none;
  border-bottom: dotted;
  border-bottom-color: @white;

}

input:focus{
  outline: 0;
}

.round-box{
  background-color: rgba(40, 40, 40, 0.8);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;




  color: #FFFFFF;
  width: 80vw;
  height: 100%;

  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.round-box:hover{
  background-color: rgba(229, 229, 229, 0.6);
}


.menu-icon{
  border-radius: 100%;
  order: 0;
  height: 100%;
}

.circular{
  width: 100%;
  height: 100%;
}


.menu-text{
  padding-left: 1em;
  padding-top: 1vw;
  padding-bottom: 1vw;

  order: 1;
  font-size: 6.5vw;
}

.weather-icon {
  width: 5vmax;
  height: 5vmax;
}

.pagination{
}

.pagination > li > a{
  border: none;
}

.menu-empty{
  order:2;
}

.menu-empty button{
  background-color: transparent;
  border: none;
}

.space{
  height: 20px;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

/* Practical view */

.image-wrapper {
  margin-top: -10px;

  margin-left: auto;
  margin-right: auto;

  -webkit-box-shadow: inset 0 8px 10px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0 8px 10px 0 rgba(0,0,0,0.35);
  box-shadow: inset 0 8px 10px 0 rgba(0,0,0,0.35);


  background-color: #f16949;

  img {
    max-width: 100%;
  }
}

.image-wrapper p {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
  font-size: 0.6em;
  margin-bottom: 0;


}

@media (min-width: 640px) {
  .image-wrapper {
    max-width: 640px;
  }
}

.webcam-description-content{
  line-height: 10px;
  padding: 5px;
  float: right;
}

.circle {
  width:10px;
  height:10px;
  float: right;
  margin-right: 20px;
  margin-left:5px;
  border-radius:100%;
  background-color:#5cd05b;
  display: block;
}

@media (min-width: 640px) {

  .webcam-wrapper{
    //    left: 20%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    display:block;

  }
}

.queue-info {
  background-color: #00747e;
  min-height: 60px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.fa-compass {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}

.waiting-info {
  padding-left: 20px;
}

@media (max-width: 640px) {

  .gallery {
    width: 80%;
  }

  .gallery-cell {
    width: 100%;
  }
}

@media (min-width: 640px){
  .gallery-cell{
    width: 640px;
  }
}

.gallery {
  padding-top: 40px;
  padding-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;

  h3, h4 {
    color: @cosy-orange;
    text-align: center;
  }

  h3 {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.6em;
  }

  p {
    font-size: 0.6em;
  }

  address {
    font-size: 0.5em;
    text-align: center;
  }
}



/* Breaking view */
article {
  padding-left: 10px;

  small {
    font-size: 0.6em;
    float: left;
    color: #ee6a1f;
  }

}

@media (min-width: 768px) {
  article {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  hr {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

}

.coupon-fix {
  height: 30px;
  background-color: #ee7f24;

  a {
    padding-left: 20px;
    padding-top: 20px;
    color: @white;
  }
}
/* Coupon view */
@font-face {
  font-family: "HoboStd";
  font-style: normal;
  font-weight: normal;
  src: local("HoboStd"), url("fonts/HoboStd.otf") format("truetype");
}
.coupon {
  //margin-top: -20px;
  height: 100vh;
  background-color: #ee7f24;
  color: @white;
  text-transform: none;

  h1, p {
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.0em;
    color: @white;
    font-family: "HoboStd", serif;
  }

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //padding-top: 14%;
    width: 70%;
    max-width: 640px;
    color: black;

    // Reset
    background-color: white;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  input[type=text] {
    text-align: center;
  }

  p {
    font-size: 0.7em;
  }

  img {
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    display: block;
  }
}
