@import "colors";
@import "profile";

@navbar-height: 100px;
@box-inset: 30px;
@row-height: 300px;
@row-height-sm: 230px;

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato",sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  background-color: @cosy-grey-lter;

  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}

ul{
  list-style-type: none;
}

.center{
  display: flex;
  border-bottom: solid 1px @cosy-blue;
}

.center input{
  width: 100%;
  border-bottom: none;
  font-style: italic;
  color: @cosy-grey-dker;
}

.center label{
  color: @cosy-orange;
  margin-right: 20px;
}

.header{
  /*background: url("/img/header-lines.svg") no-repeat center center; */
  background: url("/img/bg_top.png") no-repeat center center;
  //background-color: transparent;
  color: white;
  background-size: cover;
  height: 100px;
  max-height: 250px;

  text-align: center;

  -webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.35);
}

.article{
  color: @cosy-grey-dker;
}

.article p{
  text-transform: none;
  color: #282828;
}

.header-lg {
  .header;
  height: 150px;
}

.header-wrapper{
  width: 80%;
  height: 100%;
  //background-color: #DBDCDE;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.greeting{
  order: 1;
  font-size: 3vmin;

  //background-color: #f16949;
}

.weather {
  order: 2;

  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  //background-color: #399fbd;
}

#weather-icon{
  //background-color: #399fbd;
  font-size: 2em;
  order:1;
}
#weather-text{
  order:2;
}

.icon-small{
  width: 6vmax;
}


#weather-text-dark {
  color: #f8cb9f;
}
#weather-deg{
  font-size: 4.5vmax;
  order:3;
}
#celsius {
  font-size: 0.8em;
}


h1{
  color: black;
}

.content{
  margin-top: 10px;
  //background-color: #f16949;
}


.form-addApp{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  height: auto;

}


.form-addApp button{
  border: none;
  background-color: transparent;

  font-size: 30px;
}

.form-addApp input[type="text"]{
}

a, a:hover{
  text-decoration: none;
  color: inherit;
}

.thumbnail img{
  width: 80px;
}

.thumbnail{
  text-align: center;
  border-style: none;
  //background-color: #399fbd;
  font-size: 13px;
  font-weight: 300;
}

.menuWrapper{
  background: url("img/bg.jpg") no-repeat left center;
  background-size: auto;
  //background-color: #399fbd;
  position: absolute;
  width: 100%;
  z-index: -100;
  top: 0;
  bottom: 0;
}

.menu_image {
  width: 60px;
  height: 60px;
}

#trickle-logo {
  float:right;
  margin-right: 5vmax;
}


input{
  background-color: transparent;
  border: none;
  border-bottom: dotted;
  border-bottom-color: #399fbd;

}

input:focus{
  outline: 0;
}

.round-box{
  background-color: rgba(40, 40, 40, 0.8);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;


  color: #FFFFFF;
  width: 80%;
  height: 100%;
  padding: 10px;

  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.round-box:hover{
  background-color: rgba(229, 229, 229, 0.6);
}

.menu-icon{
  border-radius: 100%;
  order: 0;
  font-size: 40px;
}



.menu-text{
  order: 1;
  font-size: 25px;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.pagination{
}

.pagination > li > a{
  border: none;
}

.menu-empty{
  order:2;
}

.menu-empty button{
  background-color: transparent;
  border: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

/*
* Andreas tar forebehold om eventuelle bugs og "bad practises" som
* måtte eksistere i koden under
*/

/* Practical view */

.image-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 100%;
  }
}

.image-wrapper p {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
  font-size: 0.6em;
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .image-wrapper {
    max-width: 640px;
  }
}

.webcam-description-content{
  line-height: 10px;
  padding: 5px;
  float: right;
}

.circle {
  width:10px;
  height:10px;
  float: right;
  margin-right: 20px;
  margin-left:5px;
  border-radius:100%;
  background-color:#5cd05b;
  display: block;
}

@media (min-width: 640px) {

  .webcam-wrapper{
    //    left: 20%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    display:block;

  }
}

.queue-info {
  background-color: #00747e;
  min-height: 60px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.fa-compass {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}

.waiting-info {
  padding-left: 20px;
}

.gallery {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;

  h3 {
    color: @cosy-orange;
    font-size: 0.8em;
    text-align: center;
  }

  p {
    font-size: 0.6em;
  }
}

@media (max-width: 640px) {

  .gallery {
    width: 80%;
  }
}
/* End Practical view */
